<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Solar system</h1>    
    <!-- <form action="/getPlanetInfo">
        <select name="planet">
            <option value="Mars">Mars</option>
            <option value="Mercury">Mercury</option>
        </select>
    </form> -->



    <%- include('partials/navbar.ejs') %>
    <img src="<%= img %>" alt="">
    <%- include('partials/footer.ejs') %>
</body>
</html>